.container
  height: 100%
  background: #FFFFFF
  padding-left: 40px
  padding-right: 40px
  background-size: cover
  background-repeat: no-repeat
  @media (max-width: 640px)
    padding-left: 10px
    padding-right: 10px

.content
  height: 100%
  max-width: 1200px
  margin: auto

.padding
  padding-top: 190px
  padding-bottom: 190px
  @media (max-width: 640px)
    padding-top: 110px
    padding-bottom: 110px
